.sspcleartop,
.sspclear {
	clear: both;
}

#social-share-pro {
	display: inline;
}

#social-share-pro li {
	float: left;
	list-style: none;
	width: 90px;
}

.widget-wrap #social-share-pro li {
	float: left;
	height: 90px;
	list-style: none;
	width: 70px;
}