.scpcleartop,
.scpclear {
	clear: both;
}

#share-center-pro{
	display: inline;
}

#share-center-pro li {
	float: left;
	list-style: none;
	width: 60px;
}

.SCP_Widget #share-center-pro li {
	float: left;
	height: 90px;
	list-style: none;
	width: 70px;
}

.scpHeading {
	clear: both;
	float: left;
	margin-bottom: 5px;
	width: 95%;
} 